/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  background-color: darkgray;
}

.semaforo {
  display: flex;
  flex-direction: column;
  width: 80px;
  padding: 10px;
  background: black;
  border-radius: 10px;
  gap: 10px;
}

.luz {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.2;
}

.rojo {
  background: red;
}

.amarillo {
  background: yellow;
}

.verde {
  background: green;
}

.activo {
  opacity: 1;
}

.oculto{
  background-color: gray;
  overflow: hidden;
}

.mostrar{
  overflow: visible;
  background: purple;
}